* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 20px;
}
li {
  color: white;
  display: inline;
  padding: 40px;
}
header {
  background-color: black;
  height: 70px;
  color: white;
}
/* .box1 {
  background-color: blue;
  height: 80vh;
  float: left;
  width: 40vw;
}
.box2 {
  background-color: red;
  height: 80vh;
  float: right;
  width: 40vw;
} */

.box1 {
  background-color: blue;
  height: 80vh;
  width: 40vw;
}
.box2 {
  background-color: red;
  height: 80vh;
  width: 40vw;
}
.container {
  display: flex;
  justify-content: space-between;
}
